<!-- 
<mat-grid-list cols="3" mainHeight="2:1">
     <mat-grid-tile>
       <button  (click)="goToMenu()" mat-button style="color:white; background-color: darkgreen;">menu</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button (click)="goToReservation()" mat-button style="color:white; background-color: darkgreen;">Reservation</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button (click)="goToContactUs()" mat-button style="color:white; background-color: darkgreen;">contact us</button>
    </mat-grid-tile> -->
    <!-- <p>This is the landing page</p>
  </mat-grid-list> -->
  <div class="main">

  </div>
  <div class="main" id="section1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class = "main" >
            <div class="head">
              <label color="Black">My Restaurant | <i class="fa fa-map-marker" style="font-size:24px"></i>
                <a href="https://www.google.com/maps/dir/47.7315052,-122.3465184/456+12th+Ave+S,+Seattle,+WA+98144/@47.6649625,-122.4021022,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x54906abe4c2ecf93:0xbdd069556325976b!2m2!1d-122.3171706!2d47.5986713"> 
                    2801 E Cherry St. Seattle WA 98122 </a><i class="fa fa-phone"></i></label>
            </div>
      </div>
      <div class="col-sm-4"></div>
  </div>

  <div class="footer">
    <table style="border: 0; background-color: brown;" width = "100%"  height ="60">
      <tr>
        <td>
          <div id="share-buttons">
                  <a href="https://www.facebook.com/ras.dashen.9/" target="_blank">
                      <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
  
         </a>
         </div>
        </td>
        <td>
          <div id="share-buttons">
                  <a href="https://www.instagram.com/explore/locations/247455742/ras-dashen-ethiopian-restaurant?hl=en" target="_blank">
                      <img src="../../../assets/images//Instegram.png" alt="Instagram"/>
         </a>
         </div>
        </td>
         <td style="color: white;">@myrestaurant.com</td>
      </tr>
    </table>
  </div>
