
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
       <button  (click)="goToMenu()" mat-button style="color:white; background-color: darkgreen;">menu</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button (click)="goToReservation()" mat-button style="color:white; background-color: darkgreen;">Reservation</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button (click)="goToContactUs()" mat-button style="color:white; background-color: darkgreen;">contact us</button>
    </mat-grid-tile>
    
  </mat-grid-list>
