<div class="meatoption" >
   <div class="row meatoptiontext" *ngFor="let menu of menues">
        <h2><span>{{menu.Name}}</span><span style="color: tomato;">{{menu.Description}}................................................................................{{menu.Price}}</span></h2>
        
   </div>
</div>

<div class="row veggieoption" >
    <div class="row meatoptiontext" *ngFor="let menu of menues">
        <h2><span>{{menu.Name}}</span><span style="color: tomato;">{{menu.Description}}................................................................................{{menu.Price}}</span></h2>
        
   </div>
</div>